{% extends "base.html" %}
{% block content %}
  <div class="text-center mb-4">
    <h1>Instructions</h1>
  </div>

  <div class="container">
    <div class="card">
      
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Paramerters</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Explanation</th>
              <th>Required</th>
              <th>Type</th>
              <th>Range</th>
              <th>Default</th>
              <th>Unit</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Filename</td>
              <td>Name of the data file to be analyzed. The file name should be specified accurately.<br>The file extension can be included or omitted. If the specified file name cannot be found, the data will not be loaded.</td>
              <td>yes</td>
              <td>String</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
            <tr>
              <td>ID</td>
              <td>A unique identifier for the monitored animals.<br>This ID will be used to name the output files generated after analysis.<br>Therefore, duplicate IDs cannot be used within a single analysis session.</td>
              <td>yes</td>
              <td>String</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Group</td>
              <td>Specifies the experimental or control group designation.</td>
              <td>yes</td>
              <td>String</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Prehib Start Time</td>
              <td>Specifies the date and time of the start of the pre-hibernation period.<br>The analysis will begin from this specified datetime.</td>
              <td>yes</td>
              <td>Datetime</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Hib End Time</td>
              <td>Specifies the end time of the hibernation period.<br>If not specified, the program will automatically determine the end of hibernation period based on the analysis criteria.</td>
              <td>no</td>
              <td>Datetime</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Hib Start Tmp</td>
              <td>Body temparature (Tb) threshold for detecting the first hibernation onset.<br>This parameter is specifically designed to be more stringent, in other word lower, than the upper_threshold to ensures that only genuine hibernation onset is detected. Without setting this parameter appropriately, false classifications of the hibernation onset could occur by brief Tb drops or accidental hypothermic states during the pre-hibernation period.</td>
              <td>yes</td>
              <td>Number</td>
              <td>-10-50</td>
              <td>30</td>
              <td>°C</td>
            </tr>
            <tr>
              <td>Upper Threshold</td>
              <td>Lower limit threshold of Tb for judging PA state during hibernation period.<br>Values above this threshold are considered PA state.</td>
              <td>yes</td>
              <td>Number</td>
              <td>-10-50</td>
              <td>33</td>
              <td>°C</td>
            </tr>
            <tr>
              <td>Lower Threshold</td>
              <td>Upper limit threshold of Tb for deep torpor (DT) state.<br>Values below this threshold are regarded DT state.</td>
              <td>yes</td>
              <td>Number</td>
              <td>-10-50</td>
              <td>33</td>
              <td>°C</td>
            </tr>
            <tr>
              <td>Prehib Low Tb Threshold</td>
              <td>Tb threshold for low Tb event detection during pre-hibernation period, not in hibernation period.<br>Default value is set to 33ºC.</td>
              <td>yes</td>
              <td>Number</td>
              <td>-10-50</td>
              <td>33</td>
              <td>°C</td>
            </tr>
            <tr>
              <td>Hib Start Discrimination</td>
              <td>Time threshold for determining hibernation onset.<br>When Tb remains below upper_threshold for longer than this specified duration, the program classifies it as the hibernation onset rather than temporal low Tb event.</td>
              <td>yes</td>
              <td>Number</td>
              <td>120-7200</td>
              <td>interval</td>
              <td>min</td>
            </tr>
            <tr>
              <td>Hib End Discrimination</td>
              <td>Specifes time interval (minutes) for determining the spontaneous end of hibernation( post-hibernation period).<br>The program identifies the first point of a period where Tb consistently stays above upper_threshold, with temporary drops below upper_threshold allowed if they are shorter than the specified interval.<br>When these conditions are met, the program marks the first point of this period as the end of hibernation.</td>
              <td>yes</td>
              <td>Number</td>
              <td>20160-43200</td>
              <td>interval</td>
              <td>min</td>
            </tr>
            <tr>
              <td>Dead Discrimination</td>
              <td>Time criterion for mortality determination.<br>When Tb remains below lower_threshold for the specified duration, the program determines mortality has occurred.<br>The time of death is set to the first instance when the lowest Tb was recorded during this period.</td>
              <td>yes</td>
              <td>Number</td>
              <td>10080-43200</td>
              <td>interval</td>
              <td>min</td>
            </tr>
            <tr>
              <td>PA Discrimination</td>
              <td>Time criterion threshold for consolidating separated periodic arousal (PA) episodes into a single event, preventing false torpor classifications from minor body temperature fluctuations.</td>
              <td>yes</td>
              <td>Number</td>
              <td>0-360</td>
              <td>interval</td>
              <td>min</td>
            </tr>
            <tr>
              <td>Exclusion Start Time</td>
              <td>Defines the start time for excluding data from analysis.<br>Used to remove known artifacts or obvious errors in the data.</td>
              <td>no</td>
              <td>Datetime</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Exclusion End Time</td>
              <td>Defines the end time for excluding data from analysis.<br>Used in conjunction with <i>Exclusion End Time</i> to specify the complete period of data to be excluded.</td>
              <td>no</td>
              <td>Datetime</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}