{% extends "base.html" %}
{% block content %}
<div class="text-center mb-4">
  <h1>Welcome to TOHMIN</h1>
</div>
<div class="mb-4">
  <p>
    Supporting Papers: <a href="https://doi.org/10.5281/zenodo.14327458"><img src="https://zenodo.org/badge/898352737.svg" width="25" height="25" alt="DOI">Paper</a>
  </p>
  <p>
    Source Code: <a href="https://github.com/HIBlab-ILTS/TOHMIN"><img src="/static/icons/github.svg" width="25" height="25">GitHub</a>
  </p>
  <a class="btn btn-lg btn-outline-dark" href="/upload">Get Started</a>
</div>
{% endblock %}
