{% extends "base.html" %}
{% block content %}
<div class="text-center mb-4">
  <h1>Welcome to TOHMIN</h1>
</div>
<div class="mb-4">
  <p>Supporting Papers: <a href="">Paper</a></p>
  <p>
    Source Code: <a href="https://github.com/HIBlab-ILTS/HibeRhythm"><img src="/static/icons/github.svg" width="25" height="25">GitHub</a>
  </p>
  <a class="btn btn-lg btn-outline-dark" href="/upload">Get Started</a>
    <!-- <a class="btn btn-primary btn-lg d-inline-block text-nowrap" href="/upload">Get Started</a>
    <a class="btn btn-secondary btn-lg d-inline-block text-nowrap" href="/documents">Read Documents</a> -->
</div>
{% endblock %}
