{% extends "base.html" %}
{% block content %}
  <div class="text-center mb-4">
    <h1>Updates information</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Latest News</h2>
        <ul>
          <li>2025-02-17: TOHMIN 1.2.0 released.</li>
          <li>2025-01-30: TOHMIN 1.1.1 released.</li>
          <li>2024-12-07: TOHMIN 1.1.0 released.</li>
          <li>2024-11-24: TOHMIN 1.0.0 released.</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Upcoming Events</h2>
        <ul>
          <li>The site has no scheduled maintenance.</li>
          <li>For questions regarding the program, please contact this address.</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
